@font-face {
  font-family: 'AccordLight';
  src: url(../fonts/AccordLight-webfont.eot);
  src: url(../fonts/AccordLight-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/AccordLight-webfont.woff) format("woff"), url(../fonts/AccordLight-webfont.ttf) format("truetype"), url(../fonts/AccordLight-webfont.svg#AccordLight) format("svg");
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: 'AccordBold';
  src: url(../fonts/AccordBold-webfont.eot);
  src: url(../fonts/AccordBold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/AccordBold-webfont.woff) format("woff"), url(../fonts/AccordBold-webfont.ttf) format("truetype"), url(../fonts/AccordBold-webfont.svg#AccordBold) format("svg");
  font-weight: normal;
  font-style: normal
}
body,html {
  height:100%;
  width:100%;
  margin:0;
  font: 15px/25px "AccordLight","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:normal;
  text-rendering:optimizeLegibility;
  transform: translate3d(0,0,0);
  color:rgba(37, 43, 49, 1);
  background-color:rgba(37, 43, 49, 1);
}
.wrapper {
  background-color:#f6f7f8;
}
label {
  font-weight: normal;
  font-size:15px;
}
b, strong {
  font-family: "AccordBold","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 143, 119, 1.0);
  transition-duration:0.3s;
  font-weight:normal;
}
b:hover, strong:hover {
  border-bottom: 3px solid rgba(255, 143, 119, 1.0);
}
small {
  color: #bcc4cc;
}
a {
  color:rgba(37, 43, 49, 1);
  text-decoration:none;
  transition-duration:0.35s;
}
a:hover {
  color:rgba(255, 143, 119, 1.0);
  text-decoration:none;
}
.jumbotron {
  position:relative;
  background: rgba(37, 43, 49, 1) no-repeat center bottom url('../img/ceramic2.gif');
  background-size:cover;
  height:100%;
  margin:0;
}
.jumbotron .container {
  position: relative;
  z-index: 2;
  bottom:0;
  left:0;
  height:100%;
}
.jumbo-content {
  position:absolute;
  width:100%;
  bottom:0;
}
#logo {
  width:100%;
  display:block;
  color:rgba(255, 143, 119, 1.0);
  font-size:100px;
  font: 100px "AccordLight","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height:1;
  margin:0;
}
#tag {
  width:100%;
  font-size: 40px;
  font-weight: normal;
  margin:0 0 30px;;
  color:#f6f7f8;
}
.jumbotron p {
  margin:0 0 125px;
  color:#f6f7f8;
  font-size:12px;
}
.jumbotron a {
  color:#f6f7f8;
}
div img {
  width:100%;
  height:auto;
}
#about {
  padding-top:125px;
  margin-bottom:125px;
}
#open_source, #contact {
  margin-top:125px;
  margin-bottom:125px;
}
.member, .member img {
  position:relative;
}
.member + h4 {
  transition-duration:1s;
  border-bottom: 1px solid rgba(255, 143, 119, 0);
}
.member:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 143, 119, 1.0);
  opacity: 0.35;
  transition-duration:1s;
}
.member:hover:after {
  opacity:0;
}
.member:hover + h4 {
  border-bottom: 1px solid rgba(255, 143, 119, 1.0);
}
.member:hover + h4 .residence {
  color:rgba(37, 43, 49, 1);
}
.member + h4 .residence {
  float:right;
  color:rgba(37, 43, 49, 0);
  transition-duration:1s;
}
.member + h4 .residence i {
  font-size:50%;
}
.lead-in {
  font-size:34px;
  line-height:1.1;
  margin-bottom:60px;
}
.projects {
  margin-bottom:30px;
}
#open_source h2 {
  margin-top:0;
}
.more {
  font-size: 13px;
  color: rgba(255, 143, 119, 1.0);
}
#contact h3 {
  margin:0;
}
.able_phone {
  margin-bottom:20px;
}
.able_email {
  margin-bottom: 60px;
}
.form-control {
  -webkit-box-shadow: none; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
  box-shadow: none;
  border-color: #bcc4cc;
  color: rgba(37, 43, 49, 1);
  -webkit-appearance: none;
}
.form-control:focus {
  border-color: rgba(255, 143, 119, 1.0);
  outline: 0;
  -webkit-box-shadow: none !important; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
  box-shadow: none !important;
  -webkit-appearance: none;
}
.btn {
  font-size:15px;
}
.btn-default {
  color: rgba(37, 43, 49, 1);
  border-color: #bcc4cc;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
  color: rgba(37, 43, 49, 1);
  background-color: #fff5f3;
  border-color: rgba(255, 143, 119, 1.0);
}
hr {
  border-color: #eceef1;
}
@media (max-width: 767px) {
  #logo, #tag {
    width:109%;
  }
  .lead-in {
    font-size:26px;
    line-height:1.1;
    margin-bottom:60px;
  }
  .jumbo-content {
    left:-15px;
  }
}
